container_commands:
  01_install_root_dependencies:
    command: "npm install"
    cwd: "/var/app/ondeck"  # This is the directory where EB unpacks your app source
  02_install_client_dependencies:
    command: "npm install"
    cwd: "/var/app/ondeck/client"  # Adjust this path if your client directory is located elsewhere
  03_build_react:
    command: "npm run build"
    cwd: "/var/app/ondeck/client"  # This builds the React app, assuming you have a build script in your client/package.json